@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: Roboto;
  font-size: 1.5em;
  background-color: #00132a;
  color: white;
}

.App {
  text-align: center;
  /* max-width: 70%; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.pplayer {
  opacity: 0.3;
  font-size: 12px;
  padding: 0px;
  margin-top: 30px;
  position: relative;
  left: -25%;
}

.btn {
  padding: 10px;
  font-size: 18px;
  background: none;
  color: #aa0c76;
  border: 2px solid #aa0c76;
  cursor: pointer;
}

.btn:hover {
  background: #aa0c76;
  color: #310221;
}

.cards-grid {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 80%;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid #aa0c76;
  border-radius: 6px;
}
.flipped img {
  width: 100%;
  height: 100%;
  display: block;
}
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.playerName {
  margin: 20px;
  justify-content: center;
  width: 100%;
}

.playerName input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #aa0c76;
  font-size: 15px;
  margin-right: 10px;
  outline: none;
  color: white;
  background: none;
}

.playerName button {
  padding: 10px;
  border: none;
  background: #aa0c76;
  color: white;
}